AgileQuoteWebApplication/Service References/AgileQuoteService/Service152.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.17.0.147:8090/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CompanyList" nillable="true" type="q1:ArrayOfKeyValueOfintstring" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RandomNumber" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
  <xs:complexType name="ArrayOfCurrencyValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrencyValues" nillable="true" type="tns:CurrencyValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrencyValues" nillable="true" type="tns:ArrayOfCurrencyValues" />
  <xs:complexType name="CurrencyValues">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueCurrency" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyValues" nillable="true" type="tns:CurrencyValues" />
  <xs:complexType name="ArrayOfSalesOrganizations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesOrganizations" nillable="true" type="tns:SalesOrganizations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesOrganizations" nillable="true" type="tns:ArrayOfSalesOrganizations" />
  <xs:complexType name="SalesOrganizations">
    <xs:sequence>
      <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salesOrgName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesOrganizations" nillable="true" type="tns:SalesOrganizations" />
  <xs:complexType name="Quote">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingAddressOne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddressTwo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingMobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="tns:ArrayOfCurrencyValues" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreparedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      <xs:element minOccurs="0" name="QuoteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequrestedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesOrg" nillable="true" type="tns:ArrayOfSalesOrganizations" />
      <xs:element minOccurs="0" name="ShippingAddressOne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddressTwo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingMobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StatusList" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="currencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="defaultCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="defaultSalesOrg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="defaultStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qCreateBy" type="xs:boolean" />
      <xs:element minOccurs="0" name="qQuoteCurrencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qQuoteSalesOrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salesOrgName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Quote" nillable="true" type="tns:Quote" />
  <xs:complexType name="ArrayOfQuoteShipping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuoteShipping" nillable="true" type="tns:QuoteShipping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuoteShipping" nillable="true" type="tns:ArrayOfQuoteShipping" />
  <xs:complexType name="QuoteShipping">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShippingID" type="xs:int" />
      <xs:element minOccurs="0" name="Sno" type="xs:int" />
      <xs:element minOccurs="0" name="dieselCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="otherCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="truckCost" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteShipping" nillable="true" type="tns:QuoteShipping" />
  <xs:complexType name="QuoteBundleMaterialList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListQuoteBundleMaterial" nillable="true" type="tns:ArrayOfQuoteBundleMaterial" />
      <xs:element minOccurs="0" name="qQuoteBundleMaterial" nillable="true" type="tns:QuoteBundleMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteBundleMaterialList" nillable="true" type="tns:QuoteBundleMaterialList" />
  <xs:complexType name="ArrayOfQuoteBundleMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuoteBundleMaterial" nillable="true" type="tns:QuoteBundleMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuoteBundleMaterial" nillable="true" type="tns:ArrayOfQuoteBundleMaterial" />
  <xs:complexType name="QuoteBundleMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" type="xs:int" />
      <xs:element minOccurs="0" name="GrossPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Installation" type="xs:decimal" />
      <xs:element minOccurs="0" name="ListOfMaterialMappedBundle" nillable="true" type="tns:ArrayOfMaterialProperty" />
      <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="OverRideWarrenty" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Sno" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Warrenty" type="xs:decimal" />
      <xs:element minOccurs="0" name="qTotalDiscount" type="xs:int" />
      <xs:element minOccurs="0" name="qTotalGrossPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qTotalInstallationCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="qTotalNetPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qTotalUnitPrice" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteBundleMaterial" nillable="true" type="tns:QuoteBundleMaterial" />
  <xs:complexType name="ArrayOfMaterialProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialProperty" nillable="true" type="tns:MaterialProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterialProperty" nillable="true" type="tns:ArrayOfMaterialProperty" />
  <xs:complexType name="MaterialProperty">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CategoryName" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="MaterialAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialDiscount" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="sno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialProperty" nillable="true" type="tns:MaterialProperty" />
  <xs:complexType name="ArrayOfQuoteDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuoteDetails" nillable="true" type="tns:QuoteDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuoteDetails" nillable="true" type="tns:ArrayOfQuoteDetails" />
  <xs:complexType name="QuoteDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="tns:ArrayOfCurrencyValues" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesOrg" nillable="true" type="tns:ArrayOfSalesOrganizations" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StatusList" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="currencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayCreateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayRequireDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qCreatDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="qCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qLevel" type="xs:int" />
      <xs:element minOccurs="0" name="qPrepareBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qQuoteID" type="xs:int" />
      <xs:element minOccurs="0" name="qQuoteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qRequireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="qSalesOrgCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qSalesOrganization" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteDetails" nillable="true" type="tns:QuoteDetails" />
  <xs:complexType name="QuoteQualitativeInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Business" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BusinessList" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="defaultBusiness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtGrossMarginAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="txtLeadTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtMagrinAmountPercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtPercentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="txtQuoteValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtWinProbability" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtareaAnyOtherComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtareaExecutiveSummary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtareaPaymentTerms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtareaPrimaryCompetitor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtareaRiskMitigation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtareaScopeofWork" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtareaSellingPrice" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteQualitativeInformation" nillable="true" type="tns:QuoteQualitativeInformation" />
  <xs:complexType name="QuoteQualitativeInformationValues">
    <xs:sequence>
      <xs:element minOccurs="0" name="txtMarginAmountPercentageValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txtQuoteTotalValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteQualitativeInformationValues" nillable="true" type="tns:QuoteQualitativeInformationValues" />
  <xs:complexType name="ArrayOfBundleProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BundleProperty" nillable="true" type="tns:BundleProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBundleProperty" nillable="true" type="tns:ArrayOfBundleProperty" />
  <xs:complexType name="BundleProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="BundleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BundleDiscount" type="xs:int" />
      <xs:element minOccurs="0" name="BundleId" type="xs:int" />
      <xs:element minOccurs="0" name="BundleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BundleNetPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="BundleUnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="sno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BundleProperty" nillable="true" type="tns:BundleProperty" />
  <xs:complexType name="ArrayOfMaterialBundleValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialBundleValue" nillable="true" type="tns:MaterialBundleValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterialBundleValue" nillable="true" type="tns:ArrayOfMaterialBundleValue" />
  <xs:complexType name="MaterialBundleValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialBundleValue" nillable="true" type="tns:MaterialBundleValue" />
  <xs:complexType name="TotalUnitDiscount">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalDiscount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalGrossPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalNetPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="TotalQuotedNetPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalQuotedUnitPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalUnitPrice" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TotalUnitDiscount" nillable="true" type="tns:TotalUnitDiscount" />
  <xs:complexType name="InstallCharges">
    <xs:sequence>
      <xs:element minOccurs="0" name="CostPerDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoDays" type="xs:int" />
      <xs:element minOccurs="0" name="NoEmployees" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCost" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallCharges" nillable="true" type="tns:InstallCharges" />
  <xs:complexType name="ArrayOfQuoteBoughtOutItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuoteBoughtOutItemModel" nillable="true" type="tns:QuoteBoughtOutItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuoteBoughtOutItemModel" nillable="true" type="tns:ArrayOfQuoteBoughtOutItemModel" />
  <xs:complexType name="QuoteBoughtOutItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="quotedNetPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="quotedUnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteBoughtOutItemModel" nillable="true" type="tns:QuoteBoughtOutItemModel" />
  <xs:complexType name="ArrayOfQuoteCollabrationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuoteCollabrationModel" nillable="true" type="tns:QuoteCollabrationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuoteCollabrationModel" nillable="true" type="tns:ArrayOfQuoteCollabrationModel" />
  <xs:complexType name="QuoteCollabrationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteCollabrationModel" nillable="true" type="tns:QuoteCollabrationModel" />
  <xs:complexType name="ArrayOfApproverQuoteStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproverQuoteStatus" nillable="true" type="tns:ApproverQuoteStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproverQuoteStatus" nillable="true" type="tns:ArrayOfApproverQuoteStatus" />
  <xs:complexType name="ApproverQuoteStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorizerID" type="xs:int" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuoteStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproverQuoteStatus" nillable="true" type="tns:ApproverQuoteStatus" />
</xs:schema>