AgileQuoteWebApplication/Service References/AgileQuoteService/Service151.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.17.0.147:8090/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://172.17.0.147:8090/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" />
  <xs:import schemaLocation="http://172.17.0.147:8090/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AgileQuoteServices" />
  <xs:element name="CompanyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CompanyListResult" nillable="true" type="q1:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="oLogin" nillable="true" type="q2:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAuthenticationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="oLogin" nillable="true" type="q3:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUsernameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="oLogin" nillable="true" type="q4:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserIDResult" nillable="true" type="q5:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="oLogin" nillable="true" type="q6:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserRoleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCurrency">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="LoadCurrencyResult" nillable="true" type="q7:ArrayOfCurrencyValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSalesOrg">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSalesOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="LoadSalesOrgResult" nillable="true" type="q8:ArrayOfSalesOrganizations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadStatusResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBusinessStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBusinessStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadBusinessStatusResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuoteDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="qQuote" nillable="true" type="q11:Quote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuoteDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertQuoteDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteSaveAsNewQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteSaveAsNewQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteSaveAsNewQuoteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuoteDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="qQuote" nillable="true" type="q12:Quote" />
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuoteDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuotePriceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuotePriceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertQuotePriceDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteShippingInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="TruckCost" type="xs:decimal" />
        <xs:element minOccurs="0" name="DieselCost" type="xs:decimal" />
        <xs:element minOccurs="0" name="OtherCost" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteShippingInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteShippingInsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteShippingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteShippingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteShippingListResult" nillable="true" type="q13:ArrayOfQuoteShipping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteShippingTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteShippingTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQuoteShippingTotalResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuoteShipping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="ShippingID" type="xs:int" />
        <xs:element minOccurs="0" name="TruckCost" type="xs:decimal" />
        <xs:element minOccurs="0" name="DieselCost" type="xs:decimal" />
        <xs:element minOccurs="0" name="Delete" type="xs:boolean" />
        <xs:element minOccurs="0" name="OtherCost" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuoteShippingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQuoteShippingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteShippingChargesDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="ShippingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteShippingChargesDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteShippingChargesDetailsResult" nillable="true" type="q14:QuoteShipping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteBaseMaterialBundleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteBaseMaterialBundleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteBaseMaterialBundleListResult" nillable="true" type="q15:QuoteBundleMaterialList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteListForCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteListForCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteListForCreateResult" nillable="true" type="q16:ArrayOfQuoteDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteListForApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteListForApproveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteListForApproveResult" nillable="true" type="q17:ArrayOfQuoteDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteListForCollaborate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteListForCollaborateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteListForCollaborateResult" nillable="true" type="q18:ArrayOfQuoteDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizedRejectedQuoteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizedRejectedQuoteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetAuthorizedRejectedQuoteListResult" nillable="true" type="q19:ArrayOfQuoteDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteBaseMaterialBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="MaterialID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="BundleID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteBaseMaterialBundleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteBaseMaterialBundleResult" nillable="true" type="q20:QuoteBundleMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteDetailsResult" nillable="true" type="q21:Quote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualitativeInfomation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualitativeInfomationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQualitativeInfomationResult" nillable="true" type="q22:QuoteQualitativeInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalQuoteQualitativeTotalService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalQuoteQualitativeTotalServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetTotalQuoteQualitativeTotalServiceResult" nillable="true" type="q23:QuoteQualitativeInformationValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinimumMaximumAmount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinimumMaximumAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMinimumMaximumAmountResult" nillable="true" type="q24:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialListBasedOnCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BudgetTargetRate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialListBasedOnCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetMaterialListBasedOnCategoryResult" nillable="true" type="q25:ArrayOfMaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSugectionMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSugectionMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetSugectionMaterialResult" nillable="true" type="q26:ArrayOfMaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfferedMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfferedMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetOfferedMaterialResult" nillable="true" type="q27:ArrayOfMaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleMappingMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BundleID" type="xs:int" />
        <xs:element minOccurs="0" name="BudgetTargetRate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleMappingMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetBundleMappingMaterialResult" nillable="true" type="q28:ArrayOfMaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleListBasedOnCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BudgetTargetRate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleListBasedOnCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetBundleListBasedOnCategoryResult" nillable="true" type="q29:ArrayOfBundleProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryNameList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCategoryNameListResult" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialSingleRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialID" type="xs:int" />
        <xs:element minOccurs="0" name="BudgetTargetRate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialSingleRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetMaterialSingleRecordResult" nillable="true" type="q31:MaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleSingleRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BundleID" type="xs:int" />
        <xs:element minOccurs="0" name="BudgetTargetRate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleSingleRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetBundleSingleRecordResult" nillable="true" type="q32:BundleProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBundleMaterialRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="MaterialID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="BundleID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        <xs:element minOccurs="0" name="NetPrice" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBundleMaterialRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBundleMaterialRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBundleMaterialRecordDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MaterialID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="BundleID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Discount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBundleMaterialRecordDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBundleMaterialRecordDiscountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBundleMaterialRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="MaterialID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="BundleID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBundleMaterialRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBundleMaterialRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBundleMaterialToQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="MaterialIDlist" nillable="true" type="q33:ArrayOfMaterialBundleValue" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="BundleIDlist" nillable="true" type="q34:ArrayOfMaterialBundleValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBundleMaterialToQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBundleMaterialToQuoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMaterialBundleTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMaterialBundleTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteMaterialBundleTotalResult" nillable="true" type="q35:TotalUnitDiscount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="CurrencyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSymbolResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignedApproverToQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignedApproverToQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignedApproverToQuoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApprovedQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApprovedQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApprovedQuoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectQuoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectCreatorQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectCreatorQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectCreatorQuoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertShippingToQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="oShippingCharges" nillable="true" type="q36:InstallCharges" />
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertShippingToQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertShippingToQuoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQualitativeInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="Leadtime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WinProbability" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ScopeofWork" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExecutiveSummary" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryCompetitor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SellingPrice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PaymentTerms" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RiskMitigation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewRepeatBusiness" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AnyOtherComments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQualitativeInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertQualitativeInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQualitativeInformationUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="Leadtime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WinProbability" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ScopeofWork" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExecutiveSummary" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryCompetitor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SellingPrice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PaymentTerms" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RiskMitigation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewRepeatBusiness" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AnyOtherComments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQualitativeInformationUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertQualitativeInformationUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteShippingDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteShippingDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteShippingDetailsResult" nillable="true" type="q37:InstallCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMaterialBundleListwithwarranty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteMaterialBundleListwithwarrantyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteMaterialBundleListwithwarrantyResult" nillable="true" type="q38:ArrayOfQuoteBundleMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterialBundleWarrentyRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MaterialId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="BundleId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="OverrideWarrenty" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterialBundleWarrentyRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMaterialBundleWarrentyRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuoteBoughtOutItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuoteBoughtOutItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertQuoteBoughtOutItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteBasedBoughtoutItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteBasedBoughtoutItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteBasedBoughtoutItemListResult" nillable="true" type="q39:ArrayOfQuoteBoughtOutItemModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteBasedBoughtoutItemRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="ItemID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteBasedBoughtoutItemRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetQuoteBasedBoughtoutItemRecordResult" nillable="true" type="q40:QuoteBoughtOutItemModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuoteBasedBoughtoutItemRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuoteBasedBoughtoutItemRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQuoteBasedBoughtoutItemRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuoteBasedBoughtoutItemRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuoteBasedBoughtoutItemRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteQuoteBasedBoughtoutItemRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalCostBoughtoutItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalCostBoughtoutItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetTotalCostBoughtoutItemResult" nillable="true" type="q41:TotalUnitDiscount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleNameList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRoleNameListResult" nillable="true" type="q42:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteAuthorizeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuoteAuthorizeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteAuthorizeStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetcollabratorListOnQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetcollabratorListOnQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetcollabratorListOnQuoteResult" nillable="true" type="q43:ArrayOfQuoteCollabrationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetCollaboratorListResult" nillable="true" type="q44:ArrayOfQuoteCollabrationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorRemarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorRemarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCollaboratorRemarksResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCollabratorQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UserList" nillable="true" type="q45:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCollabratorQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCollabratorQuoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollabratorStatusForQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Delete" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollabratorStatusForQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCollabratorStatusForQuoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproverQuoteStatusList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproverQuoteStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AgileQuoteProperty.Model" minOccurs="0" name="GetApproverQuoteStatusListResult" nillable="true" type="q46:ArrayOfApproverQuoteStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AgileQuoteServices" minOccurs="0" name="composite" nillable="true" type="q47:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AgileQuoteServices" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q48:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>